 * {
     margin:0;
     padding: 0;
 }
 #top {
     background:url(./img/E-trip.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size:cover;
     background-size: cover;
 }
 #top h1 {
     padding: 40px;
     color:black;
     font-size: xx-large;
 }
body {
    font-family: 'Courier New', Courier, monospace;
    color: #ffcb9a;
}
h1 {
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

#navbar {
    overflow: hidden;
    background-color: #116466;
    text-align: center;
  }
  
  
  #navbar a {
    float: left;
    display: block;
    color: #ffcb9a;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  
  .content {
    padding: 16px;
  }
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
   
  .sticky + .content {
    padding-top: 60px;
  }

}
.Me-Picture {
    display:flex;
    justify-content: right;

}
img {
    width: 75%;
    height:auto;
    justify-content: center;
}
.About-me {
    padding:20px;
}
.About-me h2 {
    text-align: center;
}